{
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-class-properties"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 1 version",
          "ie >= 11",
          "safari >= 9",
          "ios >= 9",
          "android >= 4.4"
        ]
      }
    }],
    "react"
  ],
  "compact": "false"
}
