.weather {
  height: 400px;
  width: 100%;
}

.weather-info {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;

  .condition {
    font-size: 24px;
    text-align: center;
  }
}