.weather {
  height: 400px;
  width: 100%;
}

.weather-info {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  text-align: center;

  .location {
    font-size: 32px;
    font-weight: bold;
  }
  .condition {
    font-size: 24px;
    font-weight: 500;
    &__extra {
      font-size: 16px;
      font-weight: normal;
    }
  }
}